In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
df = pd.read_csv("T351_aluminium_exp_data.csv")

In [3]:
df.columns

Index(['R', 'delta_K', 'crack_growth_rate'], dtype='object')

In [4]:
df.head()

     R  delta_K  crack_growth_rate
0  0.0  3.31514           0.000176
1  0.0  3.36765           0.000238
2  0.0  3.44451           0.000251
3  0.0  3.52313           0.000269
4  0.0  3.61371           0.000310

In [5]:
df_train = df[df['R'] != 0.3]
df_test = df[df['R'] == 0.3]

In [6]:
df_train.shape

(57, 3)

In [7]:

df_train.head()

     R  delta_K  crack_growth_rate
0  0.0  3.31514           0.000176
1  0.0  3.36765           0.000238
2  0.0  3.44451           0.000251
3  0.0  3.52313           0.000269
4  0.0  3.61371           0.000310

In [16]:
train_input = df_train.drop(['crack_growth_rate'], axis = 1)

train_input.head()

     R  delta_K
0  0.0  3.31514
1  0.0  3.36765
2  0.0  3.44451
3  0.0  3.52313
4  0.0  3.61371

In [17]:
train_output = df_train['crack_growth_rate'].values

In [18]:
train_input.shape

(57, 2)

In [19]:
train_input = train_input.to_numpy()
train_input

array([[ 0.     ,  3.31514],
       [ 0.     ,  3.36765],
       [ 0.     ,  3.44451],
       [ 0.     ,  3.52313],
       [ 0.     ,  3.61371],
       [ 0.     ,  3.73211],
       [ 0.     ,  3.82807],
       [ 0.     ,  4.21508],
       [ 0.     ,  5.04294],
       [ 0.     ,  5.58644],
       [ 0.     ,  6.01397],
       [ 0.     ,  6.23106],
       [ 0.     ,  6.9249 ],
       [ 0.     ,  7.08295],
       [ 0.     ,  7.97381],
       [ 0.     ,  8.36549],
       [ 0.     ,  9.23726],
       [ 0.     , 10.23693],
       [ 0.     , 11.30371],
       [ 0.     , 11.85897],
       [ 0.     , 12.84911],
       [ 0.1    ,  2.91642],
       [ 0.1    ,  2.96381],
       [ 0.1    ,  3.11944],
       [ 0.1    ,  3.28324],
       [ 0.1    ,  3.42238],
       [ 0.1    ,  3.80346],
       [ 0.1    ,  4.13434],
       [ 0.1    ,  4.5085 ],
       [ 0.1    ,  5.32488],
       [ 0.1    ,  6.03339],
       [ 0.1    ,  6.1117 ],
       [ 0.1    ,  6.53714],
       [ 0.1    ,  6.81418],
       [ 0.1    ,  7.21837],
       [ 0.1    ,  7.5974 ],
       [ 0.1    ,  7.92256],
       [ 0.1    ,  8.25831],
       [ 0.1    ,  8.77642],
       [ 0.1    ,  9.06396],
       [ 0.1    ,  9.78518],
       [ 0.1    , 10.60218],
       [ 0.1    , 11.45042],
       [ 0.5    ,  2.25526],
       [ 0.5    ,  2.34894],
       [ 0.5    ,  2.68843],
       [ 0.5    ,  3.02779],
       [ 0.5    ,  3.58037],
       [ 0.5    ,  3.98708],
       [ 0.5    ,  4.0995 ],
       [ 0.5    ,  4.47772],
       [ 0.5    ,  4.64309],
       [ 0.5    ,  4.95032],
       [ 0.5    ,  5.19349],
       [ 0.5    ,  5.36364],
       [ 0.5    ,  6.09202],
       [ 0.5    ,  6.49513]])

In [20]:
train_output

array([0.000176, 0.000238, 0.000251, 0.000269, 0.00031 , 0.000323,
       0.000348, 0.000366, 0.000399, 0.000424, 0.000442, 0.000473,
       0.0005  , 0.000541, 0.000601, 0.000651, 0.000692, 0.000748,
       0.000808, 0.000824, 0.00089 , 0.00022 , 0.000265, 0.00031 ,
       0.000319, 0.000347, 0.000362, 0.000399, 0.000422, 0.00044 ,
       0.000475, 0.000498, 0.000542, 0.000573, 0.000618, 0.000647,
       0.00069 , 0.000721, 0.000746, 0.000764, 0.00081 , 0.00082 ,
       0.000865, 0.000309, 0.000319, 0.000347, 0.000367, 0.000399,
       0.000419, 0.000441, 0.000475, 0.000497, 0.00054 , 0.000574,
       0.000621, 0.000684, 0.000748])

In [23]:
import sys

In [27]:
!conda install --yes --prefix {sys.prefix} numpy

EnvironmentLocationNotFound: Not a conda environment: C:\Users\vinod

In [28]:
conda install -c conda-forge elm

Note: you may need to restart the kernel to use updated packages.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: elm